<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiniMercado</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MainMenu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Venta.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiniMercado.styles.css" asp-append-version="true" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <!-- Caja izquierda -->
            <div class="d-flex align-items-center" id="caja-izq">
                <img src="@Url.Content("~/Img/epifania-market.png")" alt="logo" style="height: 40px; width: auto;" class="me-2">
                <h2 class="mb-0">Caja 1</h2>
            </div>

            <!-- Derecha -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <div class="botones">
                        <div class="salir">
                            <li class="nav-item">
                                <a class="btn btn-secondary d-flex align-items-center justify-content-center gap-2" asp-area="" asp-controller="MainMenu" asp-action="Index">
                                    <img src="@Url.Content("~/Img/lock.png")" alt="lock" style="height: 0.9rem; width: auto;">
                                    Salir
                                </a>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MiniMercado </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>