@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vista desarrolladores</h1>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="MainMenu" asp-action="Index">Main Menu</a>
    </button>
</div>
